body {
    background: #001833;
    margin: 0;
}

/* Indie flower */
@font-face {
    font-family: 'Indie flower';
    src: url('./assets/fonts/IndieFlower.ttf');
}

/*Inria sans regular */
@font-face {
    font-family: 'Inria Sans';
    src: url('./assets/fonts/inria-sans.regular.ttf');
}

/* contact form style */


.container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  form {
    font-family: 'Inria Sans';
    padding: 20px;
    color: #ffffff;
    max-width: 654px;
    margin: 0 auto;
    text-align: right;
  }
  input {
    height: 29px;
    border: none;
    border-radius: 5px;
    background-color: #97bfd0;
  }
  textarea {
    width: 99%;
    border: none;
    border-radius: 5px;
    background-color: #97bfd0;
  }
  
  input[type="button"] {
    margin-top: 20px;
    padding: 0 20px;
    color: white;
    background-color: #ef8509;
  }

  label {
    margin-top: 15px;
    margin-bottom: 8px;
  }
  
  h1 {
    font-weight: 300;
    text-align: center;
  }



footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 46px;
    grid-template-areas:
        "item-one item-two item-three";
    justify-items: center;
    align-items: center;
    background-color: #484c6f;
    font-family: 'Inria Sans', sans-serif;
    color: #fff;
    font-size: 16px;
}

.item-one {
    grid-area: item-one;
}

.item-two {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-area: item-two;
}

.item-two p {
    font-family: 'Indie flower', sans-serif;
    color: #EF8509;
}

.item-two picture {
    align-self: center;
}

.item-three {
    grid-area: item-three;
}

/* Desktop breakpoint */
@media screen and (min-width: 1429px) {
    footer {
        font-size: 24px;
        grid-template-rows: 99px;
    }

    .item-two img {
        padding-left: 10px;
    }
}